.b-panel{
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  background-color:  #f2f2f2;
  padding: 30px 20px;
  @include media-breakpoint-down(sm){
    padding: 20px;
  }
  &.-popup{
    padding: 30px;
  }
  &.-pr30{
    padding: 30px 30px 30px 10px;
    @include media-breakpoint-down(sm){
      padding: 20px;
    }
  }
  &.-twoCol{
    .pr-lg-30{
      @include media-breakpoint-down(lg){
        padding-right: 30px;
      }
      @include media-breakpoint-down(sm){
        padding-right: 10px;
      }
    }
  }
  .pl5{
    padding-left: 5px;
  }
  .pr15{
    padding-right: 15px;
  }
  &.-transparent{
    background: none;
    border: none;
  }
}

