.b-table{
  color:  #000000;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
  background-color: #fff;
  @include media-breakpoint-down(lg){
    font-size: 16px;
  }
  thead{
    th{
      background-color:  #f8f8df;
      font-weight: 700;
      font-size: 18px;
      box-sizing: border-box;
      @include media-breakpoint-down(lg){
        font-size: 16px;
      }
    }
  }
  &__headerLink{
    color:  #96302f;
    display: block;
    i{
      vertical-align: middle;
      font-size: 20px;
      padding-right: 5px;
    }
    span{
      text-decoration: underline;
    }
    &:hover{
      color: #86200f;
      transition: all 0.5s;
      text-decoration: none;
      span{
        text-decoration: none;
      }
    }
  }
  &__iconLink{
    color:  #96302f;
    display: block;
    i{
      vertical-align: middle;
      font-size: 20px;
    }
    &:hover{
      color: #86200f;
      transition: all 0.5s;
    }
  }
  &.-noBorder{
    th, td{
      border: none;
    }
  }
  &.-nested{
    thead{
      tr{
        th{
          white-space: nowrap;
        }
        th:nth-child(1){
          width: 40px;
          min-width: 40px;
          word-break: break-all;
          padding-left: 0;
          padding-right: 0;
        }
        th:nth-child(2){
          width: 255px;
          min-width: 255px;
        }
        th:nth-child(3){
          width: 115px;
          min-width: 115px;
        }
        th:nth-child(4){
          width: 130px;
          min-width: 130px;
        }
        th:nth-child(4){
        }
      }
    }
    tr td:nth-child(1){
      padding-left: 50px;
    }
  }
  &.-hover{
    tbody{
      tr:not(:first-child):hover{
        td{
          background-color: #f7f7f7;
          text-decoration: underline;
          transition: all .5s;
        }
      }
    }
  }
  &.-hoverAll{
    tbody{
      tr:hover{
        td{
          background-color: #f7f7f7;
          text-decoration: underline;
          transition: all .5s;
        }
      }
    }
  }
  .b-table__inserted{
    display: none;
    tr:first-child td{
      font-weight: 700;
    }
  }
  &__wrapper{
    margin-top: 20px;
    &:first-child{
      margin-top: 0;
    }
  }
  &__expand{
    position: relative;
    display: block;
    width: 100%;
    height: 10px;
    &:before, &:after{
      content: '';
      position: absolute;
      display: block;
      background-color:  #96302f;
      top: 50%;
      transform: translate(-50%, -50%);
      left: calc(50% + 5px);
    }
    &:before{
      width: 10px;
      height: 2px;
    }
    &:after{
      width: 2px;
      height: 10px;
      transition: all .5s;
    }
  }
  &.pl-20{
    tr {
      th:first-child, td:first-child{
        padding-left: 20px;
      }
    }
  }
}
.-aroundBordered{
  border: 1px solid #e0e0e0;
}
.b-table.-opened{
  .b-table__expand{
    &:after{
      width: 2px;
      height: 0;
      transition: all .5s;
    }
  }

}
.cursor-pointer{
  cursor: pointer;
}
.table-responsive{
  padding-right: 1px;
}

.-redText{
  color: #96302f;
}