@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');

@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/Tahoma-Bold/Tahoma-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Tahoma-Bold/Tahoma-Bold.woff') format('woff'), url('../fonts/Tahoma-Bold/Tahoma-Bold.ttf')  format('truetype'), url('../fonts/Tahoma-Bold/Tahoma-Bold.svg#Tahoma-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
